<section>
    <h1>Home</h1>

    <div class="mt-12">
        <h3 class="h5">Settings</h3>
        <ul>
            <li>
                <a
                    class="text-sm link"
                    [routerLink]="'/settings/accessibility'"
                >
                    Accessibility
                </a>
            </li>
            <li>
                <a
                    class="text-sm link"
                    [routerLink]="'/settings/account'"
                >
                    Account
                </a>
            </li>
            <li>
                <a
                    class="text-sm link"
                    [routerLink]="'/settings/appearance'"
                >
                    Appearance
                </a>
            </li>
        </ul>
    </div>

    <div class="mt-6">
        <h3 class="h5">Profiles</h3>
        <ul>
            <li>
                <a
                    class="text-sm link"
                    [routerLink]="'/users/maria'"
                    text-sm
                >
                    Maria
                </a>
            </li>
            <li>
                <a
                    class="text-sm link"
                    [routerLink]="'/users/pedro'"
                    text-sm
                >
                    Pedro
                </a>
            </li>
            <li>
                <a
                    class="text-sm link"
                    [routerLink]="'/users/sara'"
                    text-sm
                >
                    Sara
                </a>
            </li>
        </ul>
    </div>
</section>
